<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <script>
   var username=[user1,user2];
   var user1=[section11,section12];
   var user2=[section21,section22,section23];
   var section11=["tree1-1.PNG","tree1-2.PNG","tree1-3.PNG"];
   var section12=["tree1-1.PNG","tree1-2.PNG","tree1-3.PNG"];
   var section21=["food1-1.PNG","food1-2.PNG","food1-3.PNG"];
   var section22=["food1-1.PNG","food1-2.PNG","food1-3.PNG"];
   var section23=["개.jpg","고양이.jpg","구름.jpg","기차.jpg","꽃.jpg","나무와새.jpg","다람쥐.jpg","도시.jpg","등대.jpg","바다.jpg","비행기.jpg","새.jpg","석양.jpg","선물.jpg","손.jpg","아이.jpg","우주.jpg"
     ,"의자.jpg","자동차.jpg","자전거.jpg","지구.jpg","커피1.jpg","커피2.jpg","하늘.jpg","하늘과바다.jpg","한가인1.jpg","한가인2.jpg","한가인3.jpg","한가인4.jpg","해바라기.jpg","해안빈병.jpg"];
   var src="";
   function myFunction() {

       for(var i=0; i<username.length;i++){
           uname=username[i];
           for(var j=0;j<username[i].length;j++){
               sname=uname[j];
               for(var k=0;k<sname.length;k++){
                   pname=sname[k];
                   var x = document.createElement("IMG");
                    x.setAttribute("src", '"'+uname+'"'+'/'+'"'+sname+'"'+'/'+pname);
                    x.setAttribute("alt", "The Pulpit Rock");
                    document.body.appendChild(x);
               }
           }
       }
      /*var x = document.createElement("IMG");
      x.setAttribute("src", "img_pulpit.jpg");
      x.setAttribute("width", "304");
      x.setAttribute("height", "228");
      x.setAttribute("alt", "The Pulpit Rock");
      document.body.appendChild(x);*/
  }
  </script>
<body onload="myFunction()">

<!--<div class="w3-container">
  <h2>Bordered Image</h2>
  <p>The w3-border class adds borders around the image.</p>
  <p>Padding added wil be inside the borders:</p>
  <img src="img_fjords.jpg" class="w3-border" alt="Norway" style="padding:4px;width:50%">
</div>-->

</body>
</html>
